:root {
  --font-family: Times;
  --font-size-small: 10px;
  --font-size-medium: 14px;
  --font-size: 17px;
  --line-height: 1.5;
  --color-text: #3f3f3f;
  --color-lighter: #666;
  --color-background: #ffffff;
  --color-link: #1861fc;
  --color-link-hover: #0056b3;
  --padding-standard: 0.67em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding-top: var(--padding-standard);
}

a {
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

nav {
  padding: var(--padding-standard);
}

header {
  display: flex;
  gap: var(--padding-standard);
  padding: 0 var(--padding-standard) 0 var(--padding-standard);
}

header a,
header p {
  font-size: var(--font-size-small);
  line-height: initial;
  margin: 0;
}

main {
  display: flex;
  gap: var(--padding-standard);
  margin: 0 auto;
  padding: 0 var(--padding-standard) var(--padding-standard)
    var(--padding-standard);
}

.sidebar {
  flex: 1;
}

.main-content {
  flex: 1.5;
}

.main-content .notes {
  display: none !important;
}

.right h1 {
  text-align: right;
}

img,
video {
  max-width: 100%;
}

a {
  color: var(--color-text);
}

h1,
h2 {
  font-size: calc (var(--font-size) * 1.5);
}

h2 {
  margin: 0;
}

p,
li {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

figure {
  margin: 60px 0;
}

figure figcaption {
  font-size: var(--font-size-medium);
  line-height: var(--font-size-medium);
}

iframe {
  width: 100%;
  height: 100dvh;
  border: none;
}

code {
  font-family: "Courier", monospace;
  font-size: var(--font-size-medium);
  background-color: #eeead6;
  padding: 5px 0.4em;
  border-radius: 3px;
  color: var(--color-lighter);
  overflow-wrap: break-word;
  word-break: break-all;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

pre code {
  display: block;
  padding: 1em;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  line-height: 1.45;
  border: 1px solid #d5d5d5;
}

hr {
  border: 0;
  border: 1px solid #e8e8e8;
  margin: 40px 0;
}

/* Blocks */

.item-container,
.content-block {
  padding: var(--padding-standard);
}

.content-block {
  margin-bottom: var(--padding-standard);
}

.item-description {
  margin-top: var(--padding-standard);
}

.tags-field {
  font-size: var(--font-size-small);
}

.author-field {
  font-size: var(--font-size-medium);
}

.description-field {
  line-height: var(--line-height);
}

.item-timestamps {
  color: var(--color-lighter);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-timestamps span {
  font-size: var(--font-size-small);
}

.created {
  padding-right: var(--padding-standard);
}

.content-block .item-description {
  margin-bottom: 1em;
}

/* Footer */

footer {
  font-family: Arial;
  color: #000000;
  margin-top: 30px;
}

.no-results-message {
  margin: var(--padding-standard);
}

/* Mobile */

@media (max-width: 768px) {
  :root {
    --font-size: 15px;
    --font-size-medium: 10px;
    --font-size-small: 5px;
  }

  body {
    padding-top: 0;
  }

  header {
    padding-top: var(--padding-standard);
  }

  header a,
  header p {
    font-size: var(--font-size-medium);
  }

  main {
    flex-direction: column;
    gap: 0;
  }

  .sidebar.left {
    order: 1;
  }

  .sidebar.right {
    order: 2;
  }

  .sidebar h1 {
    color: var(--color-lighter);
    font-size: var(--font-size-medium);
  }

  .sidebar.right h1 {
    position: absolute;
    top: 0.67em;
    right: var(--padding-standard);
  }

  .main-content {
    order: 3;
  }

  .main-content h1 {
    margin-top: 0;
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}
